@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@100;200;300;500&display=swap');

:root {
    --primary-color: #218CFF;
    --grey-color: #a8a8a8;
    --greyer-color: #cacaca;
    --bs-body-font-family: 'Inter', sans-serif !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#body {
    font-family: 'Inter', sans-serif !important;
}

/* css page catalog */

#container_detail .text-link,
#container_catalog .text-link {
    font-size: 12px;
    color: #797979;
}

#container_catalog .text-link h1 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}

#container_catalog .set_filter {
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
}

#container_catalog .tools-filter {
    font-size: 14px;

}

#container_catalog .tools-filter #navbarDropdown {
    font-weight: 600;
    color: black;
}

#container_catalog .filterBy {
    width: fit-content;
}

#container_catalog .tools-filter>div {
    padding: 0 10px;
}

#container_catalog .box-products {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(174, 174, 174, 0.25) 0px 0px 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#container_catalog .wrap-imgage {
    display: flex;
    overflow: hidden;
    position: relative;
}

#container_catalog .wrap-imgage img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

#container_catalog .box-products .watch-now {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 99;
    border: none;
    color: rgb(255, 255, 255) !important;
    white-space: nowrap;
}

#container_catalog .watch-now a {
    opacity: 0;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 26px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 20px 14px 20px;
    background: rgba(0, 0, 0, 0.812) !important;
}

#container_catalog .watch-now a:hover {
    background: #218cffe7 !important;
}

#container_catalog .box-products:hover .wrap-imgage img {
    transform: translateX(-100%);
}

#container_catalog .box-products:hover .watch-now a {
    opacity: 1;
    cursor: pointer;
}

#container_catalog .card-content {
    padding: 0 14px 10px 14px;
}

#container_catalog .card-content .text-brand {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
}

#container_catalog .card-content .text-name {
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.7;

}

#container_catalog .wrap-gift {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #000000;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}

#container_catalog .wrap-gift i {
    width: 16px;
    height: 16px;
}

#container_catalog .price-now {
    font-size: 14px;
    font-weight: 600;
}

#container_catalog .price-origin {
    font-size: 14px;
    text-decoration: line-through;
    opacity: 0.7;
}


#container_catalog .wrap-under .sale {
    background-color: rgb(199, 49, 48);
    color: white;
    font-size: 12px;
    border-radius: 3px 4px 4px 3px;
    position: relative;
    margin-left: 20px;
    padding: 2px 0 0 0;
    width: 37px;
}

#container_catalog .sale::before {
    content: "";
    width: 10px;
    position: absolute;
    transform-origin: left top;
    transform: rotate(45deg);
    background: rgb(199, 49, 48);
    left: 2px;
    top: -1px;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    z-index: 1;
}

#container_catalog .text-sale {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

#container_catalog .warp-star i {
    font-size: 0.8em;
    padding: 0 3px;
}

#container_catalog .quantity-feedback {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

#container_catalog .price-section {
    margin: 5px 0;
}

#container_catalog .title-filter {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    padding: 12px 0;
}

#container_catalog .container-filter {
    width: 250px;
}

#container_catalog input[type="checkbox"] {
    display: none;
}

#container_catalog .wrap-checkbox label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

#container_catalog .wrap-checkbox label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
}

#container_catalog .wrap-checkbox input[type="checkbox"]:checked+label::before {
    background-color: #000;
    border: 2px solid #000;
}

#container_catalog .wrap-checkbox input[type="checkbox"]:checked+label .fa-check {
    display: block;
}

.wrap-checkbox label p {
    font-weight: 400;
    padding: 0 5px;
    margin: 0;
}

#container_catalog label .fa-check {
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 12px;
    color: white;
    display: none;
}

#container_catalog .checkbox-group {
    padding: 12px 0;
    max-height: 167px;
    overflow: hidden;
    transition: 0.5s ease;
    padding: 0;
}

#container_catalog .checkbox-group.active {
    max-height: 0;
}

#container_catalog .filter-price i.active {
    transform: rotate(180deg);
}


#container_catalog .wrap-banner img {
    width: 100%;
}

#navbarNav .filter-items a {
    font-size: 14px;
}

#container_catalog .container-news {
    background: linear-gradient(90deg, #218CFF 0%, rgba(0, 0, 0, 0.803));
}

#container_catalog .container-news .title,
#container_catalog .container-news .sub-title {
    color: white;
}

#container_catalog .container-news .title {
    font-size: 25px;
    font-weight: 700;
}

#container_catalog .container-news .sub-title {
    font-size: 14px;
}

#container_catalog .wrapper-input {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 42px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
}

#container_catalog .wrapper-input input {
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    color: white;
}

#subscribe-email::placeholder {
    color: white;
}

#container_catalog .input-follow button {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

#container_catalog .banner-under img {
    width: 100%;
}

#container_catalog .pagination a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size: 15px;
}

#container_catalog .pagination a.node-number {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 3px;
}

#container_catalog .box-banner-catalog {
    width: 100%;
    display: flex;
    gap: 10px;
    white-space: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

#container_catalog .box-banner-catalog img {
    width: 100%;
    width: 310px;
}


#container_catalog .pagination a:hover {
    color: #218CFF;
}

/* end */

/* css page detail product */

#container_detail .wrapper-image {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
}

#container_detail .wrapper-image img {
    width: 300px;
}

#container_detail .list-imagedetail {
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10px;
}

#container_detail .list-imagedetail img {
    width: 100%;
    border-radius: 3px;
}

.list-imagedetail img.active {
    border: 2px solid black;
}

#container_detail .brand_name {
    font-size: 14px;
    color: #B0100F;
    font-weight: 600;
}

#container_detail .name_product h1 {
    font-size: 19px;
    font-weight: 600;
}

#container_detail .wrap-price .price-now {
    font-size: 22px;
    font-weight: 600;
}

#container_detail .wrap-price .price-origin {
    font-size: 16px;
    opacity: 0.5;
    text-decoration: line-through;
}

#container_detail .wrap-price {
    gap: 10px;
}

#container_detail .sale {
    background-color: rgb(199, 49, 48);
    color: white;
    font-size: 12px;
    border-radius: 3px 4px 4px 3px;
    position: relative;
    margin-left: 20px;
    padding: 2px 0 1px 0;
    width: 37px;
}

#container_detail .sale::before {
    content: "";
    width: 10px;
    position: absolute;
    transform-origin: left top;
    transform: rotate(45deg);
    background: rgb(199, 49, 48);
    left: 2px;
    top: -1px;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    z-index: 1;
}

#container_detail .text-sale {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

#container_detail .flash-sale-wrapper {
    background: linear-gradient(90deg, #218CFF 0%, rgba(0, 0, 0, 0.803));
    padding: 7px 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

#container_detail .text-flash-sale {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: white;
}

#container_detail .text-flash-sale i {
    font-size: 1.2em;
    margin-right: 10px;
}

#container_detail .quantity-btn {
    width: 40px;
    height: 50px;
    border: 2px solid rgb(239, 239, 239);
    background: white
}

#container_detail .minus-btn {
    border-top-left-radius: 38px;
    border-bottom-left-radius: 38px;
    border-right: hidden;
}

#container_detail .add-btn {
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-left: hidden;
}

#container_detail .quantity-text {
    width: 40px;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding: 13px 0px;
    border-top: 2px solid rgb(239, 239, 239);
    border-bottom: 2px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_detail .btn-add-cart {
    padding: 14px 50px;
    border: none;
    background: black;
    color: white;
    border-radius: 38px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
    transition: 0.3s;
    white-space: nowrap;
    grid-area: btnadd;
    display: flex;
    justify-content: center;
}

#container_detail .btn-add-cart:hover {
    opacity: 0.8;
}

#container_detail .btn-add-cart i {
    font-size: 1.2em;
}

#container_detail .btn-buy {
    border: none;
    background: linear-gradient(90deg, #218CFF 0%, rgba(0, 0, 0, 0.803));
    color: white;
    padding: 14px 23px;
    border-radius: 38px;
    height: 50px;
    white-space: nowrap;
    grid-area: btnbuy;
}

#container_detail .wrapper-action {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 120px auto 132px;
    grid-template-rows: auto;
    grid-template-areas:
        "quantity btnadd btnbuy";
    gap: 10px;
}

#container_detail .wrap-quantity-btn {
    grid-area: quantity;
}


#container_detail .box-commit {
    row-gap: 15px;
    display: flex;
    margin-top: 25px;
}

#container_detail .wrapper-commit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#container_detail .wrapper-commit svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#container_detail .wrapper-commit span {
    font-size: 14px;
}

#container_detail .box-banner-detail {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    gap: 15px;
    margin-top: 25px;
}

#container_detail .box-banner-detail img {
    width: 420px;
}

#container_detail .wrapper-similarProducts h3 {
    font-size: 20px;
    font-weight: 600;
}

#container_detail .quantity-comment {
    font-size: 20px;
    font-weight: 600;
    margin-right: 32px;
}

#container_detail .menu-arrange svg {
    margin-right: 5px;
}



#container_detail .menu-arrange {
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

#container_detail .wrapper-action img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

#container_detail .input-cmt::placeholder {
    font-size: 15px;
}

#container_detail .input-cmt {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
    outline: none;
}


#container_detail .wrapper-action form {
    width: 100%;
    position: relative;
}

#container_detail .wrapper-action .btn-sendcmt {
    border: none;
    background: #218CFF;
    color: white;
    padding: 0 10px;
    border-radius: 18px;
    height: 30px;
    transition: 0.2s;
    position: absolute;
    right: 20%;
    top: -10px;
    display: none;
    font-size: 13px;
}

#container_detail .wrapper-action .btn-sendcmt:hover {
    background: #0050a6;
}

#container_detail .infor-cmt img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

#container_detail .infor-top .infor-name {
    font-size: 14px;
    font-weight: 600;
}

#container_detail .infor-top {
    gap: 7px;
    margin-bottom: 2px;
}

#container_detail .box-infor {
    width: 100%;
}

#container_detail .box-infor .text-cmt {
    width: 70%;
}

#container_detail .infor-top .check-buy,
#container_detail .infor-top .infor-date {
    font-size: 12px;
}

#container_detail .infor-top .infor-date {
    color: #606060;
}

#container_detail .infor-top .check-buy {
    background: #FAFBF7;
    color: #4C503D;
    padding: 0 7px;
    border-radius: 10px;
    border: 1px solid #129e1ba2;
}

#container_detail .check-buy i {
    color: #129E1B;
    width: 15px;
    height: 15px;
}

#container_detail .wrapper-arrange {
    display: none;
}

#container_detail .menu-arrange .items-arrange {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 8px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    top: 30px;
    left: 0;
    background: white;
}

#container_detail .wrapper-arrange.active {
    display: block;
}


#container_detail .items-arrange a {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 0.9em;
    white-space: nowrap;
}

#container_detail .items-arrange a:hover {
    background: #ccc;
}

/* Timer Css */
#container_detail .flip-card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    border-radius: .4em;
    font-size: 1.2rem;
}

#container_detail .top,
#container_detail .bottom,
#container_detail .flip-card .top-flip,
#container_detail .flip-card .bottom-flip {
    height: .75em;
    line-height: 1;
    padding: .25em;
    overflow: hidden;
    width: 22px;
}

#container_detail .top,
#container_detail .flip-card .top-flip {
    background-color: #f7f7f7;
    border-top-right-radius: .4em;
    border-top-left-radius: .4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#container_detail .bottom,
#container_detail .flip-card .bottom-flip {
    background-color: white;
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: .4em;
    border-bottom-left-radius: .4em;
}

#container_detail .flip-card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}

#container_detail .flip-card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

#container_detail .timer {
    display: flex;
    justify-content: center;
    text-align: center;
}

#container_detail .timer .before-icon {
    position: relative;
}

#container_detail .timer .before-icon::before {
    content: ":";
    position: absolute;
    right: -8px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
}

#container_detail .container-segment {
    display: flex;
    flex-direction: column;
    gap: .1em;
    align-items: center;
}

#container_detail .segment {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    gap: .1em;
}

#container_detail .segment-title {
    font-size: .9rem;
}

#container_detail .see_all-btn {
    transition: all 0.2s;
    border: 0.5px solid #000;
    color: #000000;
}

#container_detail .see_all-btn:hover {
    background-color: var(--primary-color) !important;
    color: white;
    border: 0.5px solid var(--primary-color);
}

#container_detail .wrap-description {
    margin: 40px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 5px;
}

#container_detail .wrap-description h2 {
    font-size: 27px;
    font-weight: 700;
}

#container_detail .wrap-description .text-description {
    line-height: 2;
    letter-spacing: 0.3px;
}


/* css page detail product */

#topbar {
    height: 30px;
    background-color: var(--primary-color);
    text-align: center;
}

#topbar p {
    font-weight: 300;
    font-size: .8rem;
    line-height: 30px;
}

#main_header {
    border-bottom: 0.5px solid var(--greyer-color);
}

#main_header .logo_header {
    width: 190px;
    height: 36px;
}

#main_header .right_above {
    width: 80%;
    justify-content: flex-end;
}

#main_header .search_header {
    width: 54%;
}

#main_header .search_header input {
    font-size: .9rem;
    border-radius: 8px;
    border: 0.5px var(--grey-color) solid;
}

#main_header .search_header i {
    right: 10px;
    line-height: 38px;
    color: var(--grey-color);
}

#main_header .search_icon_mobile i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 36px;
    background-color: #f1f1f1;
}

#main_header .login_header,
#main_header .cart_header {
    font-size: .9rem;
}

#main_header .num_in_cart {
    left: 16px;
    top: -4px;
    background-color: var(--primary-color);
    width: 16px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    height: 16px;
    line-height: 16px;
    font-size: 0.6rem;
}

#main_header .navigation_header>li {
    font-weight: 600;
}

#main_header .navigation_header>li.active {
    color: var(--primary-color);
}

#main_header .navigation_header>li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    height: 2px;
    width: 60%;
    background-color: var(--primary-color);
}

#container_home .flashsale .title img {
    width: 35%;
}

#container_home .partnerships {
    overflow-x: auto;
    white-space: nowrap;
}

#container_home .partnerships::-webkit-scrollbar {
    width: 0;
}

#container_home .partnerships img:not(:last-child) {
    margin-right: .7rem;
}

#container_home .partnerships img {
    width: 230px;
}


/* Product card  */
#container_home .box-products {
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(174, 174, 174, 0.25) 0px 0px 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

#container_home .box-products:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#container_home .wrap-imgage {
    display: flex;
    overflow: hidden;
    position: relative;
}

#container_home .wrap-imgage img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

#container_home .box-products .watch-now {
    position: absolute;
    padding: 8px 20px 10px 20px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 99;
    border-radius: 26px;
    border: none;
    background: rgba(0, 0, 0, 0.812) !important;
    color: rgb(255, 255, 255) !important;
    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
}

#container_home .watch-now a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

#container_home .watch-now:hover {
    background: #218cffe7 !important;
}

#container_home .box-products:hover .wrap-imgage img {
    transform: translateX(-100%);
}

#container_home .box-products:hover .watch-now {
    opacity: 1;
}

#container_home .card-content {
    padding: 0 14px 10px 14px;
}

#container_home .card-content .text-brand {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
}

#container_home .card-content .text-name {
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.7;

}

#container_home .wrap-gift {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #000000;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
}

#container_home .wrap-gift i {
    width: 16px;
    height: 16px;
}

#container_home .price-now {
    font-size: 14px;
    font-weight: 600;
}

#container_home .price-origin {
    font-size: 14px;
    text-decoration: line-through;
    opacity: 0.7;
}

#container_home .wrap-under .sale {
    background-color: rgb(199, 49, 48);
    color: white;
    font-size: 12px;
    border-radius: 3px 4px 4px 3px;
    position: relative;
    margin-left: 20px;
    padding: 2px 0 0 0;
    width: 37px;
}


#container_home .sale::before {
    content: "";
    width: 10px;
    position: absolute;
    transform-origin: left top;
    transform: rotate(45deg);
    background: rgb(199, 49, 48);
    left: 2px;
    top: -1px;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    z-index: 1;
}

#container_home .text-sale {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#container_home .warp-star i {
    font-size: 0.8em;
    padding: 0 3px;
}

#container_home .quantity-feedback {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 5px;
}

#container_home .price-section {
    margin: 5px 0;
}

#container_home .category_row {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
}

#container_home .category img {
    width: 120px;
}

#container_home .keywords a {
    background-color: #f6f6f5;
}


footer {
    background: url(footer.png) no-repeat center/cover;
}

footer .socials i {
    font-size: 1.3rem;
    color: #677788;
    padding-right: 0.2rem;
    padding-left: 0.4rem;
}

footer .logo_footer {
    width: 220px;
}

footer h5 {
    color: #4f4f4f;
    font-size: 1.1rem;
}

footer .list li {
    margin-bottom: .6rem;
    color: #677788;
    font-size: .9rem;
}

footer .copyright {
    color: #ababab;
    font-size: .9rem;
}

/* Responsive  */
@media (max-width: 992px) {
    #container_home .category_row {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
    }

    #container_home .flashsale .title img {
        width: 50%;
    }

    #container_detail .input-cmt {
        width: 100%;
    }

    #container_detail .wrapper-action .btn-sendcmt {
        right: 0;
        top: -5px;
        height: 25px;
        font-size: 10px;
    }

    #container_detail .box-infor .text-cmt {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #header .navigation_header {
        font-size: .9rem !important;
    }

    #header .navigation_header li {
        text-align: center;
    }

    #container_home .category_row {
        gap: 10px;
    }

    #container_home .category img {
        width: 100px;
    }


}

@media (max-width: 576px) {
    #header .navigation_header {
        font-size: .7rem !important;
    }

    #container_home .category_row {
        grid-template-columns: repeat(3, auto);
    }

    #container_home .category img {
        width: 80px;
    }

    #container_home .segment-title {
        font-size: .9rem;
    }

    #container_home .segment {
        font-size: .8rem;
    }

    #container_home .timer {
        position: unset !important;
        margin-top: .6rem;
    }

    #container_home .flashsale .title img {
        width: 70%;
    }

    #container_home .keywords {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    #container_detail .wrapper-image img {
        width: 200px;
    }

    #container_detail .box-banner-detail img {
        width: 262px;
    }

    #container_detail .text-flash-sale {
        font-size: 11px;
    }

    #container_detail .wrapper-action {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 120px auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "quantity btnbuy"
            "btnadd btnadd";
        gap: 15px;
    }
}